.container{
    
    padding: 50px;
    display: flex;
} 
.left{
    flex: 2;
}
.table{
    width: 100%;
    text-align: left;
}
.id,
.name,

.adress,
.total{
  font-size: 1rem;
}
.right{
    flex: 1;
}
.wrapper{
    background-color: #333;  
    width: 90%;
    max-height: 300px;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var( --bg-black-100);
  }
.totalTextTitle{
    margin-right: 10px;

}

.mdpaid{
color: rgb(44, 209, 209);
font-size: 40px;
transition: all ease ;

}
.mdpaid:hover{
   color: rgb(221, 27, 27);
    font-size: 40px;
    cursor: pointer;
    
    }
    .BsFillPatchCheckFill{
        color: aqua;
        font-size: 40px;

    }
.button{
    background-color:var(--bg-black-100) ;
    height: 30px;
    color: teal;
    font-weight: bold;
    margin-top: 20px;
    cursor:not-allowed
}