.container{
    
    padding: 50px;
    display: flex;
} 
.left{
    flex: 2;
}
.table{
    width: 100%;
    text-align: left;
}
.id,
.name,

.adress,
.total{
  font-size: 1rem;
}
.right{
    flex: 1;
}
.wrapper{
    background-color: #333;  
    width: 90%;
    max-height: 300px;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var( --bg-black-100);
  }
.totalTextTitle{
    margin-right: 10px;
}
.row:last-child{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.done{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease  infinite alternate;
}
@keyframes inProgress{
   from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.unDone{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;

}
.mdpaid,  .GiEating, .BsFillPatchCheckFill,.FaMotorcycle, .FaUserCheck{
color: rgb(44, 209, 209);
font-size: 26px;
}
.mdpaid:hover, .GiEating:hover,.BsFillPatchCheckFill:hover, .FaMotorcycle:hover, .FaUserCheck:hover {
   color: rgb(221, 27, 27);
    font-size:26px;
    cursor: pointer;
    }
  .unDone   .BsFillPatchCheckFill, .inProgress .BsFillPatchCheckFill{
        display: none;

    }
.button{
    background-color:var(--bg-black-100) ;
    height: 30px;
    color: teal;
    font-weight: bold;
    margin-top: 20px;
    cursor:not-allowed
}