.container{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px 40px ;
    
    
}
.title{
    font-family: 18px;
    font-weight: bold;
    color:var(--skin-color);
    cursor: pointer;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color:var(--text-back-700);
}
.desc{
    text-align: center;
    color: var(--text-back-700);
}
.imgPizza{
    cursor: pointer;
}
@media screen and (max-width:480px) {
    .container{
        width:100%
    }
    .title{
        font-size: 30px;
    }
    .price,.desc{
        font-size: 25px;
    }
    
}